
:root {
  --timeOfAnimation: 1s;
}

* {
  margin: 0;
  padding: 0;
  font-family: Calibri, sans-serif;
  font-size: 16px;
}

li {
  list-style-type: none;
}

body {
  background: #f3f3f3;
}

#content {
  width: 100%;
  height: calc(100vh - 52px);
  padding: 5px;
  box-sizing: border-box;
  overflow-y: auto;
  position: relative;
}

#content::-webkit-scrollbar {
  width: 0;
}

/**********Animations**********/

.defaultAnimation {
  animation: default var(--timeOfAnimation) forwards;
}

@keyframes default {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes defaultRotate {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(180deg)}
}

/******************************/

/********Settings**********/

.btnSettings {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 5px;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnSettings img {
  width: 30px;
  height: auto;
  animation: defaultRotate 1s forwards;
}

.darkBackground {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0,0,0,.3);
  z-index: 2;
}

.mainSettings {
  height: 250px;
  position: absolute;
  top: 100px;
  right: 50px;
  left: 50px;
  background: #ffffff;
  z-index: 3;
  border-radius: 10px;
  padding: 10px;
}

.elementOfSettingsMenu {
  display: flex;
  height: 40px;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
}

.elementOfSettingsMenu span {
  display: flex;
  width: 80%;
  height: 40px;
  font-weight: bold;
  color: #000000;
  align-items: center;
  justify-content: center;
}

.inputOfAmountWords {
  width: 20%;
  height: 30px;
  border: none;
  outline: none;
  background: transparent;
  text-align: center;
  font-weight: bold;
  color: #000000;
  border-bottom: 1px solid #000;
}

.inputLangEN, .inputLangRU {
  width: 10%;
  height: 20px;
  border: none;
  outline: none;
}

.inputDiverseMode, .inputLoadingWords {
  width: 20%;
  height: 20px;
  border: none;
  outline: none;
}

.elementOfSettingsMenu:nth-child(2) span{
  width: 20%;
}

/**************************/
/**********bottomMenu**********/

#bottomMenu {
  height: 52px;
  box-sizing: border-box;
  display: flex;
}

.bottomMenuBtn {
  display: block;
  width: 50%;
  height: 42px;
  text-align: center;
  line-height: 42px;
  font-weight: bold;
  background: #ffffff;
  margin: 5px;
  border-radius: 10px;
}

/******************************/

/**********Topics**********/
.topicsList {
  width: 100%;
  height: 100%;
  padding: 25px 25px;
  box-sizing: border-box;
}

.topic {
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  margin: 10px 0;
  background: #fff;
  border-radius: 10px;
}

.topic:first-child {
  margin: 0 0 10px 0;
}

.topic:last-child {
  margin: 10px 0 25px 0;
}
/**************************/

/**********Levels**********/
.listOfLevels {
  width: 100%;
  height: 100%;
  padding: 25px 25px;
  box-sizing: border-box;
}

.level {
  width: 100%;
  height: 50px;
  background: #fff;
  margin: 10px 0;
  border-radius: 25px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
}

.level:first-child {
  margin: 0 0 10px 0;
}

.level:last-child {
  margin: 10px 0 25px 0;
}


/**************************/

/**********Words**********/

.wordsList {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

.word {
  display: flex;
}

.wordNumber {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  font-weight: 600;
  color: #001f3f;
  background: #ffffff;
  font-family: Calibri, sans-serif;
}

.wordEN, .wordRU {
  display: block;
  height: 50px;
  width: 200px;
  box-sizing: border-box;
  padding: 0 10px;
  font-family: Calibri, sans-serif;
  font-size: 16px;
}

.wordEN::first-letter,
.wordRU::first-letter {
  text-transform: uppercase;
}


.wordEN {
  color: #000;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
}

.wordRU {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 300;
}

/*************************/

/**********Working**********/

.practiceBlock {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}

.practiceLevelsBtn, .practiceNextLevelBtn {
  display: block;
  width: calc(50% - 5px);
  height: 42px;
  text-align: center;
  line-height: 42px;
  font-weight: bold;
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
}

.practiceLevelsBtn {
  left: 0;
  bottom: 0;
}

.practiceNextLevelBtn {
  right: 0;
  bottom: 0;
}

/* topOfWorkingMenu */

.topOfWorkingMenu {
  width: 100%;
  height: 40px;
  background: #f1f1f1;
  font-weight: 600;
  text-align: center;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.nameOfTopic {
  display: block;
  width: 70px;
  height: 40px;
  color: #000000;
  font-size: 12px;
  position: absolute;
  left: 0;
  padding: 0 0 0 5px;
  box-sizing: border-box;
}

.nameOfTopic::first-letter {
  text-transform: uppercase;
}

.thisLevel {
  display: block;
  width: 70px;
  height: 40px;
  color: #000000;
  font-size: 12px;
  position: absolute;
  right: 0;
  padding: 0 5px 0 0;
  box-sizing: border-box;
}

.wordCount {
  display: block;
  width: 60px;
  height: 40px;
  color: #000000;
  font-size: 20px;
}

.correctWords {
  display: block;
  width: 60px;
  height: 40px;
  color: #0074D9;
  font-size: 16px;
}

/* **************** */

.incorrectWords {
  display: block;
  width: 60px;
  height: 40px;
  color: #FF851B;
  font-size: 16px;
}

.randomWord {
  width: 300px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  background: #ffffff;
  color: #000000;
  border-radius: 60px;
  font-weight: 600;
}

.randomWord::first-letter {
  text-transform: uppercase;
}

.buttonsPracticeMenu {
  width: 300px;
  height: 60px;
  background: #ffffff;
  border-radius: 90px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputField {
  width: 188px;
  outline: none;
  border:none;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  padding: 0 5px;
  box-sizing: border-box;
  text-align: center;
  background: #ffffff;
  color: #000000;
  margin-right: 50px;
}

.prompt {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prompt img {
  width: 25px;
  height: auto;
}
/***************************/